:root {
   --background: #ffffff;
   --font-primary: #000004;
   --font-secondary: #999999;
   --highlight: #aec6f1;
}

[data-theme="dark"] {
   --background: #111111;
   --font-primary: #fefefe;
   --font-secondary: #eaeaea;
   --highlight: #ffebeb;
}

[data-theme="marina"] {
   --background: #103b52;
   --font-primary: #4a6fb5;
   --font-secondary: #50688c;
   --highlight: #9393a7;
}

[data-theme="paper"] {
   --background: #fafafa;
   --font-primary: #444444;
   --font-secondary: #b2b2b2;
   --highlight: #fff9dd;
}

[data-theme="blueberry"] {
   --background: #f4f3ff;
   --font-primary: #506477;
   --font-secondary: #678198;
   --highlight: #92a4be;
}

[data-theme="shadow"] {
   --background: #130000;
   --font-primary: #eeeeee;
   --font-secondary: #f8f8f8;
   --highlight: #fffdef;
}

body {
   margin: 0;
   padding: 0;
   /* font-family: "Oxygen Mono", sans-serif; */
   box-sizing: border-box;
}

h1,
.ql-editor {
   letter-spacing: 0.05rem;
}

::selection {
   background: var(--highlight);
}

h2 {
   color: var(--font-primary);
}

.ql-snow .ql-picker-options .ql-picker-item::before {
   content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before {
   content: attr(data-value) !important;
}

.ql-font-oxygenmono {
   font-family: "Oxygen Mono";
}
.ql-font-oxygen {
   font-family: "Oxygen";
}
.ql-font-lexend {
   font-family: "Lexend";
}
.ql-font-newsreader {
   font-family: "Newsreader";
}
.ql-font-poppins {
   font-family: "Poppins";
}
.ql-font-electrolize {
   font-family: "Electrolize";
}
.ql-font-nunitosans {
   font-family: "Nunito Sans";
}

.ql-snow .ql-picker .ql-font .ql-picker-label::before,
.ql-snow .ql-picker .ql-font .ql-picker-item::before {
   content: attr(data-value); /* Show the font name */
}

.Main {
   max-width: 50vw;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}

.stats {
   position: fixed;
   bottom: 0;
   font-size: 1rem;
   left: 75vw;
   margin-bottom: 10px;
   border-radius: 12px;
   background-color: #ffffff;
   border: 1px #fafafa solid;
   min-width: 120px;
}

.stats select {
   color: #333;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   border-radius: 12px;
   padding: 15px;
   padding-right: 30px; 

   -webkit-box-shadow: rgba(151, 198, 243, 0.3) 0 1px 5px;
   -moz-box-shadow:rgba(151, 198, 243, 0.3) 0 1px 5px;
   box-shadow: rgba(151, 198, 243, 0.3) 0 1px 5px;
}

#editor {
   border: none;
   padding: 10px 16px;
   font-size: 1rem;
}

.ql-blank {
   padding: 12px 15px;
}

.ql-toolbar {
   border: none !important;
   padding-left: 16px;
   min-height: 50px;
   height: 100%;
   flex: 1;
   display: flex;
   flex-direction: row;
}

.ql-snow .ql-formats button {
   height: 30px !important;
   margin-right: 8px !important;
}

.ql-snow .ql-picker-label::before {
   position: absolute;
   transform: translateY(+7%);
   height: 30px !important;
   display: flex !important;
   flex-direction: column !important;
   font-size: 1rem !important;
   margin-right: 8px !important;
}

svg {
   height: 20px !important;
   margin-right: 25px !important;
}

.ql-editor h1 {
   font-size: 2.5rem;
   color: var(--font-primary);
   padding-top: 25px;
   padding-bottom: 10px;
   padding-left: 16px;
}

.ql-editor {
   padding: 0;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
   display: none;
}
